@import common.ReturnTo
@import models.accounting.config.MoneyReservoir
@import controllers.helpers.accounting.RegularEntry

@(
  reservoir: MoneyReservoir,
  entry: RegularEntry
)(
  contentWhenConfirmed: Html
)(
  implicit request: Request[AnyContent]
)

<span class="balance-check-confirm-group">
  <button class="btn btn-info btn-xs ladda-button"
    ajax-href=""
    data-style="slide-up"
    data-size="xs"
    role="button">
    <i class="fa fa-check-square-o fa-fw"></i>
  </button>
  <span class="content-when-confirmed hidden">
    @contentWhenConfirmed
  </span>
</span>