@import helper._

@(
)(
  implicit env: play.api.Environment, webJarAssets: controllers.WebJarAssets
)

@extrascript = {
  @* The compiled scala.js code *@
  @scalajs.html.selectScript(
      projectName = "client",
      assets = path => routes.Assets.versioned(path).toString,
      resourceExists = name => getClass.getResource(s"/public/$name") != null)
  @* Launches the main method of the JSApp *@
  @scalajs.html.launcher(
      projectName = "client",
      assets = path => routes.Assets.versioned(path).toString,
      resourceExists = name => getClass.getResource(s"/public/$name") != null)
}

@Base("Facto", extrascript = extrascript) {
  <div id="root"></div>
}
