@import scala.collection.immutable.Seq

@import models.User
@import models.accounting.money.Currency
@import models.accounting.config.{Account, MoneyReservoir, Category, Template}
@import controllers.helpers.accounting._
@import common.Formatting._
@import views.html.accounting.parts._

@(
  accountToReservoirs: Map[Account, Iterable[MoneyReservoir]],
  reservoirToEntries: Map[MoneyReservoir, Seq[CashFlowEntry]],
  numEntriesShownByDefault: Int,
  expandedNumEntries: Int,
  templatesInNavbar: Seq[Template]
)(
  implicit user: User, request: Request[AnyContent], messages: Messages, flash: Flash, env: play.api.Environment
)

@extrascript = {
  <script>
    SPAMain().factoPortabilityTest()
  </script>
}

@Main(Messages("facto.update-logs"), extrascript) {
  <h1 class="page-header"><i class="fa fa-archive fa-fw"></i> @Messages("facto.update-logs")</h1>

  @Panel(
    title = Messages("facto.logs")
  ) { @* panel content *@
  }
}
