@import scala.collection.immutable.Seq

@import models.User
@import models.accounting.money.Currency
@import models.accounting.config.{Account, MoneyReservoir, Category, Template}
@import controllers.helpers.accounting._
@import common.Formatting._
@import views.html.accounting.parts._

@(
  accountToReservoirs: Map[Account, Iterable[MoneyReservoir]],
  reservoirToEntries: Map[MoneyReservoir, Seq[CashFlowEntry]],
  numEntriesShownByDefault: Int,
  expandedNumEntries: Int,
  templatesInNavbar: Seq[Template]
)(
  implicit user: User, request: Request[AnyContent], messages: Messages, flash: Flash, env: play.api.Environment
)

@extrascript = {
  @* The compiled scala.js code *@
  @playscalajs.html.selectScript(
      projectName = "client",
      isProd = env.mode == play.api.Mode.Prod,
      assets = path => routes.Assets.versioned(path).toString)
  @* Launches the main method of the JSApp *@
  @playscalajs.html.launcher(
      projectName = "client",
      assets = path => routes.Assets.versioned(path).toString)
}

@Base(Messages("facto.update-logs"), extrascript) {
  <div>
    !!!<div id="root"></div>===
  </div>
}
