@import scala.collection.immutable.Seq

@import models.User
@import models.accounting.money.Currency
@import models.accounting.config.{Account, MoneyReservoir, Category, Template}
@import controllers.helpers.accounting.GeneralEntry
@import common.Formatting._
@import views.html.accounting.parts._

@(
  query: String,
  totalNumResults: Int,
  entries: Seq[GeneralEntry],
  numEntriesToShow: Int,
  templatesInNavbar: Seq[Template]
)(
  implicit user: User, request: Request[AnyContent], messages: Messages, flash: Flash
)
