@import scala.collection.immutable.Seq

@import common.{Clock, ReturnTo, GetParameter}
@import models.User
@import models.accounting.money.Money
@import models.accounting.money.Currency
@import models.accounting.config.{Account, MoneyReservoir, Category, Template}
@import models.accounting.{Tag, TagEntities}
@import controllers.helpers.accounting.Summary
@import viewhelpers.Formatting._
@import views.html.accounting.parts._

@(
  accountToSummary: Map[Account, Summary],
  expandedYear: Int,
  templatesInNavbar: Seq[Template],
  tags: Seq[Tag],
  tagsString: String
)(
  implicit user: User, request: Request[AnyContent], messages: Messages, flash: Flash
)

