@import scala.collection.immutable.Seq

@import common.{ReturnTo, GetParameter, I18n}
@import common.time.Clock
@import models.{User, EntityAccess}
@import models.accounting.money.{Currency, Money, ExchangeRateManager}
@import models.accounting.config.{Account, MoneyReservoir, Category, Template, Config}
@import controllers.helpers.accounting.Summary
@import common.Formatting._
@import views.html.accounting.parts._

@(
  accountToSummary: Map[Account, Summary],
  expandedYear: Int,
  templatesInNavbar: Seq[Template],
  tags: AnyRef,
  tagsString: String
)

emptied
