@import scala.collection.immutable.Seq

@import helper._

@import common.CollectionUtils.toListMap
@import common.ReturnTo
@import models.User
@import models.accounting.money.Currency
@import models.accounting.config.{Config, Account, MoneyReservoir, Category, Template}
@import views.html.utils.{repeatWithIndex, bootstrap3}

@(
  title: String,
  transGroupForm: Form[TransGroupData],
  formAction: Call,
  deleteAction: Option[Call],
  templatesInNavbar: Seq[Template]
)(
  implicit user: User, request: Request[AnyContent], messages: Messages, flash: Flash, returnTo: ReturnTo
)

