@import helper._
@import common.ReturnTo
@import models.User
@import models.accounting.config.{Account, MoneyReservoir, Category}
@import controllers.accounting.BalanceCheckOperations.Forms._
@import views.html.utils.bootstrap3
@(reservoir: MoneyReservoir, title: String, bcForm: Form[BcData], formAction: Call, deleteAction: Option[Call])(
    implicit user: User, request: Request[AnyContent], messages: Messages, flash: Flash, returnTo: ReturnTo)

@Main(title, returnToOption = Some(returnTo)) {
  <div class="row">
      <div class="col-lg-12">
          <h1>
            <i class="fa fa-plus-circle fa-fw"></i> @title
            @for(action <- deleteAction) {
              <a class="btn btn-default" href="@action" role="button">
                <i class="fa fa-times"></i> @Messages("facto.delete")
              </a>
            }
          </h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <div class="row">
    @form(action = formAction, 'class -> "form-horizontal") {
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-heading-title">@Messages("facto.balance-check")</span>
          </div>
          <div class="panel-body">
            @bootstrap3.Text(bcForm("issuerName"), Messages("facto.issuer"), args=Map('readonly -> "readonly"))
            @bootstrap3.Text(bcForm("moneyReservoirName"), Messages("facto.reservoir"), args=Map('readonly -> "readonly"))
            @bootstrap3.Text(bcForm("checkDate"), Messages("facto.check-date"), args=Map('autofocus -> "autofocus"))
            @bootstrap3.Money(bcForm("balanceAsFloat"), reservoir.currency, Messages("facto.balance"))
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">@Messages("facto.ok")</button>
        </div>
      </div>
    }
  </div>
}
