@import scala.collection.immutable.Seq

@import models.User
@import models.accounting.Money.CurrencyUnit
@import models.accounting.config.{Account, MoneyReservoir, Category, Template}
@import controllers.helpers.accounting.GeneralEntry
@import viewhelpers.Formatting._
@import views.html.accounting.parts._

@(
  entries: Seq[GeneralEntry],
  numEntriesToShow: Int,
  templatesInNavbar: Seq[Template]
)(
  implicit user: User, request: Request[AnyContent], messages: Messages, flash: Flash
)

@Main("¢Everything£", templatesInNavbar = templatesInNavbar) {
  <h1><i class="icon-list"></i> Everything</h1>

  @Panel(
    title = "¢Genral Information About All Entries£"
  ) { @* panel content *@

    @viewhelpers.accounting.Table.cached(
      title = s"¢All£",
      tableTypeIdentifierForCache = "everything",
      tableClasses = "table-everything",
      allEntriesLink = (entries.size > numEntriesToShow) match {
          case true => Some(controllers.accounting.routes.Views.everythingAll())
          case false => None
        },
      numEntriesShownByDefault = numEntriesToShow,
      colspan = 9,
      entries = entries.reverse.take(numEntriesToShow)
    ) { @* table headers *@
      <th>~Issuer£</th>
      <th>~Payed£</th>
      <th>~Consumed£</th>
      <th>~Beneficiary£</th>
      <th>~Payed£ with/to</th>
      <th>~Category£</th>
      <th>~Description£</th>
      <th>~Flow£ (@CurrencyUnit.default.htmlSymbol)</th>
      <th>&nbsp;</th>
    } { entry =>  @* table datas *@
      <td>@entry.issuer.name</td>
      <td>@entry.transactionDates.map(formatDate).mkString(", ")</td>
      <td>@entry.consumedDates.map(formatDate).mkString(", ")</td>
      <td>@entry.beneficiaries.map(_.shorterName).mkString(", ")</td>
      <td>@entry.moneyReservoirs.map(_.shorterName).mkString(", ")</td>
      <td>@entry.categories.map(_.name).mkString(", ")</td>
      <td>@DescriptionWithEntryCount(entry)</td>
      <td>@entry.flow.formatFloat</td>
      <td>@TransactionGroupEditButton(entry.groupId)</td>
    }
  }
}
