@import scala.collection.immutable.Seq

@import models.User
@import models.accounting.Money.CurrencyUnit
@import models.accounting.config.{Account, MoneyReservoir, Category, Template}
@import controllers.helpers.accounting.GeneralEntry
@import viewhelpers.Formatting._
@import views.html.accounting.parts._

@(
  query: String,
  totalNumResults: Int,
  entries: Seq[GeneralEntry],
  numEntriesToShow: Int,
  templatesInNavbar: Seq[Template]
)(
  implicit user: User, request: Request[AnyContent], messages: Messages, flash: Flash
)

@Main(Messages("facto.search-results"), templatesInNavbar = templatesInNavbar) {
  <h1><i class="icon-list"></i> @Messages("facto.search-results-for", query)</h1>

  @Panel(
    title = if(totalNumResults == 1) Messages("facto.one-result") else Messages("facto.num-results", totalNumResults)
  ) { @* panel content *@

    @viewhelpers.accounting.Table(
      title = Messages("facto.all"),
      tableClasses = "table-search",
      allEntriesLink = (entries.size > numEntriesToShow) match {
          case true => Some(controllers.accounting.routes.GeneralActions.searchAll(query))
          case false => None
        },
      numEntriesShownByDefault = numEntriesToShow,
      colspan = 9,
      entries = entries.take(numEntriesToShow)
    ) { @* table headers *@
      <th>@Messages("facto.issuer")</th>
      <th>@Messages("facto.payed")</th>
      <th>@Messages("facto.consumed")</th>
      <th>@Messages("facto.beneficiary")</th>
      <th>@Messages("facto.payed-with-to")</th>
      <th>@Messages("facto.category")</th>
      <th>@Messages("facto.description")</th>
      <th>@Messages("facto.flow") (@CurrencyUnit.default.htmlSymbol)</th>
      <th>&nbsp;</th>
    } { entry =>  @* table datas *@
      <td>@entry.issuer.name</td>
      <td>@entry.transactionDates.map(formatDate).mkString(", ")</td>
      <td>@entry.consumedDates.map(formatDate).mkString(", ")</td>
      <td>@entry.beneficiaries.map(_.shorterName).mkString(", ")</td>
      <td>@entry.moneyReservoirs.map(_.shorterName).mkString(", ")</td>
      <td>@entry.categories.map(_.name).mkString(", ")</td>
      <td>@DescriptionWithEntryCount(entry)</td>
      <td>@entry.flow.formatFloat</td>
      <td>@TransactionGroupEditButton(entry.groupId)</td>
    }
  }
}
