@import scala.collection.immutable.Seq

@import common.{Clock, ReturnTo, GetParameter}
@import models.User
@import models.accounting.Money
@import models.accounting.Money.CurrencyUnit
@import models.accounting.config.{Account, MoneyReservoir, Category, Template}
@import models.accounting.{Tag, TagEntities}
@import controllers.helpers.accounting.Summary
@import viewhelpers.Formatting._
@import views.html.accounting.parts._

@(
  accountToSummary: Map[Account, Summary],
  expandedYear: Int,
  templatesInNavbar: Seq[Template],
  tags: Seq[Tag],
  tagsString: String
)(
  implicit user: User, request: Request[AnyContent], messages: Messages, flash: Flash
)

@Main("¢Summary£", templatesInNavbar = templatesInNavbar) {
  <h1>
    <i class="icon-table"></i> @Messages("facto.summary")
    <div class="summary-tag-filters">
      Filter:
      @for((tag, numUsages) <- TagEntities.usageAndReccomendations(tags, 4)) {
        <span class="tag-with-usage">
          <a class="btn btn-xs
                @if(tags.contains(tag)){btn-@tag.bootstrapClassSuffix}
                @if(!tags.contains(tag)){btn-default}"
              href="@{request.uri ++: GetParameter("toggleTag", tag.name)}"
              role="button">
            @tag.name</a>
          &times; @numUsages
        </span>
      }
      <form action="@request.uri" method="GET">
        <input type="hidden" name="tags" value="@tagsString" />
        <input type="text" name="toggleTag" placeholder="@Messages("facto.other-tag")" />
      </form>
    </div>
    <div style="clear: both"></div>
  </h1>

  @for((account, summary) <- accountToSummary) {
    @Panel(
      title = account.longName,
      panelClasses = if(account.isMineOrCommon) "" else "hidden other-accounts"
    ) { @* panel content *@
      <table class="table table-bordered table-hover table-condensed table-summary">
        <thead>
          <tr>
            <th>(@CurrencyUnit.default.htmlSymbol)</th>
            @for((year, summaryForYear) <- summary.yearToSummary) {
              <th colspan="@{if(year == expandedYear) summaryForYear.months.size + 1 else 1}">
                <a href="@controllers.accounting.routes.Views.summaryFor(year, tags=tagsString)">
                  @year
                </a>
              </th>
            }
          </tr>
          <tr>
            <th>@Messages("facto.category")</th>
            @for((year, summaryForYear) <- summary.yearToSummary) {
              @if(year == expandedYear) {
                @for(month <- summaryForYear.months) {
                  <th>@month.abbreviation</th>
                }
              }
              <th>Avg.</th>
            }
          </tr>
        </thead>
        <tbody>
          @for(category <- summary.categories) {
            <tr>
              <td>@category.name</td>
              @for((year, summaryForYear) <- summary.yearToSummary) {
                @if(year == expandedYear) {
                  @for(month <- summaryForYear.months) {
                    <td class="cell
                        @if(month.contains(Clock.now)) {current-month}
                        @if(summary.monthRangeForAverages.contains(month)) {month-for-averages}">
                      @UpperRightCorner{ @* centralContent *@
                        @{summaryForYear.cell(category, month).totalFlow match {
                          case flow if summaryForYear.cell(category, month).entries.isEmpty => ""
                          case flow => flow.formatFloat
                        }}

                        @if(!summaryForYear.cell(category, month).entries.isEmpty) {
                          <div class="entries">
                            @for(entry <- summaryForYear.cell(category, month).entries) {
                              <div>
                                <a href="@(controllers.accounting.routes.TransactionGroupOperations.editForm(entry.groupId
                                    ) ++: ReturnTo(request.uri))">
                                  @entry.flow.currency.htmlSymbol @entry.flow.formatFloat
                                  -
                                  @for(tag <- entry.tags) {
                                    <span class="label label-@tag.bootstrapClassSuffix">@tag.name</span>
                                  }
                                  @entry.descriptions
                                </a>
                              </div>
                            }
                          </div>
                        }
                      } { @* cornerContent *@
                        @if(!summaryForYear.cell(category, month).entries.isEmpty) {
                          (@summaryForYear.cell(category, month).entries.size)
                        }
                      }
                    </td>
                  }
                }
                <td class="average">
                  @summaryForYear.categoryToAverages(category).formatFloat
                </td>
              }
            </tr>
          }
            
          @for((totalRowTitle, rowIndex) <- summary.totalRowTitles.zipWithIndex) {
            <tr class="total total-@rowIndex">
              <td class="title">@totalRowTitle</td>
              @for((year, summaryForYear) <- summary.yearToSummary) {
                @if(year == expandedYear) {
                  @for((month, totalThisMonth) <- summaryForYear.totalRows(rowIndex).monthToTotal) {
                    <td class="cell
                        @if(month.contains(Clock.now)) {current-month}
                        @if(summary.monthRangeForAverages.contains(month)) {month-for-averages}">
                      @if(totalThisMonth.cents != 0) { @totalThisMonth.formatFloat }
                    </td>
                  }
                }
                <td class="average">
                  @summaryForYear.totalRows(rowIndex).yearlyAverage.formatFloat
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    }
  }

  @* Unhide other accounts *@
  @if(!accountToSummary.filterKeys(!_.isMineOrCommon).isEmpty) {
    @OtherAccounts()
  }
}
