@import scala.collection.immutable.Seq

@import common.ReturnTo
@import models.User
@import models.accounting.Money.CurrencyUnit
@import models.accounting.config.{Account, MoneyReservoir, Category, Template}
@import controllers.helpers.accounting._
@import viewhelpers.Formatting._
@import views.html.accounting.parts._

@(
  templates: Seq[Template]
)(
  implicit user: User, request: Request[AnyContent], flash: Flash
)

@Main("Templates") {
  <h1><i class="icon-check-empty"></i> Templates</h1>

  @Panel(
    title = "Templates",
    panelClasses = "templates-panel"
  ) { @* panel content *@

    @for(template <- templates) {
        <a href="@(controllers.accounting.routes.TransactionGroupOperations.addNewFromTemplate(template.id
              ) ++: ReturnTo(request.uri))
            class="btn btn-info btn-lg">
          <i class="@template.iconClass"></i> @template.name
        </a>
    }
  }
}