@import models.User
@import models.accounting.{UpdateLog}
@import viewhelpers.Formatting._
@import views.html.accounting.parts._

@(
  entries: Seq[UpdateLog],
  numEntriesToShow: Int
)(
  implicit user: User, request: Request[AnyContent], messages: Messages, flash: Flash
)

@Main(Messages("facto.update-logs")) {
  <h1 class="page-header"><i class="fa fa-archive fa-fw"></i> @Messages("facto.update-logs")</h1>

  @Panel(
    title = Messages("facto.logs")
  ) { @* panel content *@

    @viewhelpers.accounting.Table(
      title = Messages("facto.all"),
      tableClasses = "table-update-logs",
      allEntriesLink = (entries.size > numEntriesToShow) match {
          case true => Some(controllers.accounting.routes.GeneralActions.updateLogsAll())
          case false => None
        },
      numEntriesShownByDefault = numEntriesToShow,
      colspan = 3,
      entries = entries.reverse.take(numEntriesToShow)
    ) { @* table headers *@
      <th>@Messages("facto.user")</th>
      <th>@Messages("facto.date")</th>
      <th>@Messages("facto.description")</th>
    } { entry =>  @* table datas *@
      <td>@entry.user.name</td>
      <td>@formatDateTime(entry.date)</td>
      <td>@entry.change</td>
    }
  }
}
