@import common.ReturnTo
@import models.accounting.config.MoneyReservoir
@import controllers.helpers.accounting.RegularEntry

@(reservoir: MoneyReservoir, entry: RegularEntry)(implicit request: Request[AnyContent])

<button class="btn btn-info btn-xs"
  ajax-href="@(controllers.accounting.routes.JsonApiActions.addBalanceCheck(
      reservoir.code, entry.balance.cents, entry.mostRecentTransaction.id
    ) ++: ReturnTo(request.uri))"
  role="button">
  <i class="fa fa-check-square-o fa-fw"></i>
</button>
