@import viewhelpers.IdGenerator

@(
  title: String,
  tableClasses: String,
  allEntriesLink: Option[Call],
  numEntriesShownByDefault: Int,
  colspan: Int,
  tableHeaders: Html,
  tableDatas: Seq[Html]
)(
  implicit messages: Messages
)

<table class="table table-bordered table-hover table-condensed table-overflow-elipsis add-toc-level-2 @tableClasses"
    id="@IdGenerator.uniqueId(title)">
  <thead>
    <tr class="info">
      <th colspan="@colspan" class="toc-title">@title</th>
    </tr>
    <tr>
      @tableHeaders
    </tr>
  </thead>
  <tbody>
    @for((tableData, i) <- tableDatas.zipWithIndex) {
      @if(i == numEntriesShownByDefault) {
        @EllipsisTr(colspan = colspan, btnClasses = "btn-show-next-hidden-entries")
      }
      <tr class="@if(i >= numEntriesShownByDefault){hidden next-hidden-entries}">
        @tableData
      </tr>
    }

    @for(link <- allEntriesLink) {
      @EllipsisTr(colspan = colspan,
        trClasses = if(tableDatas.size > numEntriesShownByDefault) "hidden next-hidden-entries" else "",
        href = Some(link))
    }

    @if(tableDatas.isEmpty) {
      <td colspan="@colspan" class="no-entries">@Messages("facto.no-entries")</td>
    }
  </tbody>
</table>
