@(centralContent: Html)(cornerContent: Html)
<div class="upper-right-corner-holder">  @* Fix for Firefox problem: Background color overwrites
                                     the td borders when td has position:relative, so instead
                                     a div is added that has position:relative (a relative
                                     reference is needed for the upper-right-corner to work). *@
  @centralContent
  <div class="upper-right-corner">
    @cornerContent
  </div>
</div>