@(loginForm: Form[(String,String)])(implicit request: Request[AnyContent], messages: Messages, flash: Flash)

@import helper._

@Base("Login") {
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please Sign In</h3>
          </div>
          <div class="panel-body">
            @form(routes.Auth.authenticate()) {
              @for(flashMessage <- flash.get("message")) {
                <div class="alert alert-info" role="alert">
                    @flashMessage
                </div>
              }
              @if(loginForm.hasGlobalErrors) {
                <div class="has-error">
                  <label class="control-label has-error">
                    @loginForm.globalError.get.message
                  </label>
                </div>
              }
              <fieldset>
                <div class="form-group">
                  <input class="form-control" placeholder="Username" name="loginName" value="@loginForm("loginName").value" autofocus>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Password" name="password" type="password" value="">
                </div>
                <!-- Change this to a button or input when using this as a form -->
                <button class="btn btn-lg btn-success btn-block">Login</a>
              </fieldset>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}
